.modal-fade {
    opacity: 0.5;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
    background-color: #000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}