<div class="main-content container">
    <div class="row">
        <div class="col-md-7">
            <div class="widget widget-fullwidth user-develop-chart">
                <div class="widget-head">
                    <div class="tools"><span class="icon s7-cloud-download"></span><span class="icon s7-refresh-2"></span></div><span class="title">Twoje zdobywany stopień</span>
                </div>
                <div class="widget-chart-container">
                    <div id="develop-chart-legend" class="legend-container"></div>
                    <div id="develop-chart" style="height: 225px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="widget-indicators">
                <div class="indicator-item">
                    <div class="indicator-item-icon">
                        <div class="icon"><span class="s7-graph1"></span></div>
                    </div>
                    <div class="indicator-item-value"><span data-toggle="counter" data-end="36" class="indicator-value-counter">Harcerz Orli</span>
                        <div class="indicator-value-title">Rl. 4/2015 z dnia 10.10.2015 r.</div>
                    </div>
                </div>
                <div class="indicator-item">
                    <div class="indicator-item-icon">
                        <div class="icon"><span class="s7-graph"></span></div>
                    </div>
                    <div class="indicator-item-value"><span data-toggle="counter" data-end="157" class="indicator-value-counter">Ćwik</span>
                        <div class="indicator-value-title">Rl. 4/2015 z dnia 10.12.2015 r.</div>
                    </div>
                </div>
                <div class="indicator-item">
                    <div class="indicator-item-icon">
                        <div class="icon"><span class="s7-graph3"></span></div>
                    </div>
                    <div class="indicator-item-value"><span data-toggle="counter" data-decimals="1" data-end="17.9" class="indicator-value-counter">Wywiadowca</span>
                        <div class="indicator-value-title">Rl. 4/2015 z dnia 10.04.2015 r.</div>
                    </div>
                </div>
                <div class="indicator-item">
                    <div class="indicator-item-icon">
                        <div class="icon"><span class="s7-cart"></span></div>
                    </div>
                    <div class="indicator-item-value"><span data-toggle="counter" data-decimals="2" data-end="78,450" data-prefix="$" class="indicator-value-counter">Młodzik</span>
                        <div class="indicator-value-title">Rl. 4/2015 z dnia 10.03.2015 r.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>