  <div class="mai-wrapper mai-login">
      <div class="main-content container">
        <div class="splash-container row">
          <div class="col-sm-6 user-message"><span class="splash-message text-right"><strong>Czuwaj!</strong><br> dobrze Cię<br> widzieć ponownie</span><span class="alternative-message text-right">Nie posiadasz jeszcze konta? <a routerLink="/auth/signup" routerLinkActive="active">Zarejestruj się!</a></span></div>
          <div class="col-sm-6 form-message"><img src="/img/logo-czujduch-white.png" alt="logo" width="170" height="auto" class="logo-img mb-4"><span class="splash-description text-center mt-5 mb-5">Zaloguj się do swojego panelu</span>
            

             <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
               <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                  <input id="username" 
                    type="text" 
                    placeholder="Adres E-mail" 
                    formControlName="email" 
                    autocomplete="on" 
                    class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
                  <input id="password" type="password"  formControlName="password" placeholder="Twoje hasło" class="form-control">
                </div>
              </div>
              <div class="form-group login-submit">
                <button
                        class="btn btn-lg btn-primary btn-block"
                        type="submit"
                        [disabled]="!myForm.valid">Submit</button>
              </div>
              <div class="form-group row login-tools">
                <div class="col-6 login-remember">
                  <label class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span class="custom-control-description">Zapamiętaj mnie</span>
                  </label>
                </div>
                <div class="col-6 pt-2 text-right login-forgot-password"><a href="#">Zpomniałeś hasła?</a></div>
              </div>
            </form>
            
            <div class="out-links"><a href="#">© 2017 Czujduch.pl</a></div>
          </div>
        </div>
      </div>
    </div>

    
    <script src="assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="assets/lib/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
      });
      
    </script>